.footerMain{
  width: 100%;
  background-color: grey;
  float: left;
}
.footerRow{
  margin-top: 2%;
  float: left;
  width: 90%;
  margin-left: 5%;
}
.ment{
  font-size: 12px;
  letter-spacing: 2px;
}

.line{
  width: 90%;
}