.mapMain{
  margin-top: 13%;
  width: 100%;
  background-color: black;
  float: left;
}
.mapRow{
  margin-top: 5%;
  float: left;
  width: 40%;
  margin-left: 15%;
}
.mapKakao{
  margin-top: 5%;
  margin-bottom: 5%;
  float: right;
  width: 30%;
  margin-right: 15%;
}
.ment{
  font-size: 15px;
  letter-spacing: 5px;
}

.mentAddr{
  font-size: 15px;
  letter-spacing: 2px;
}

.mentTitle{
  font-size: 18px;
  letter-spacing: 2px;
}