/* Styles from the GreenSock website */


body {
  font-weight: 100%;
}
html {
  visibility: visible;
}
.ipsType_right {
  text-align: right;
}
.ipsType_center {
  text-align: center;
}
.cInnerContent {
  @include media("<=phone") {
    position: absolute;
    width:100%;
  }
  margin-top: 145%;
  max-width: 81%;
  margin-left: auto;
  margin-right: auto;
}
.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}
.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.ipsGrid::before, .ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}
.ipsGrid > [class*="ipsGrid_span"] {

  @include media("<=phone") {
    font-size: 15px;
    left: 10%;
    }
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.ipsGrid > .ipsGrid_span5 {
  width: 35.42553191489362%;
}
.ipsGrid > .ipsGrid_span7 {
  @include media("<=phone") {
    width: 100%;
  }
  width: 61.44680851063829%;
}
.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}
.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}
.feature {
  display: flex;
  align-items: center;
}

.ipsType_left1{
  @include media("<=phone") {
    top: 0%;
    width: 100%;
    position: absolute;
    color:black
 
  }
}

ipsType_left1 p{
  color:black;
}

.ipsType_right1{
  @include media("<=phone") {
    top:230%;
    width: 100%;
    position: absolute;
  }
  position: absolute;
  left: 16%;
}


.ipsType_left2{
  @include media("<=phone") {
    top: 418%;
    width: 100%;
    position: absolute;

  }
}

.ipsType_left3{
  @include media("<=phone") {
    top: 775%;
    width: 100%;
    position: absolute;

  }
}


.ipsType_right2{
  @include media("<=phone") {
    top:580%;
    width: 100%;
    position: absolute;
  }
  position: absolute;
  left: 16%;
}


.card1 {
  @include media("<=phone") {
  position: absolute;
  width:330%;
  margin-left:10%;
  margin-top: 120%;
  margin-bottom: 30%;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
  }

  width: 88%;
  margin-left:10%;
  margin-top: 40%;
  margin-bottom: 30%;
  border: 1px solid #cccccc;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
}

.card2 {
  @include media("<=phone") {
  position: absolute;
  width:330%;
  margin-left:10%;
  margin-top: 740%;
  margin-bottom: 30%;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
  }



  width: 88%;
  margin-left:160%;
  margin-top: 40%;
  margin-bottom: 30%;
  border: 1px solid #cccccc;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
}

.card3 {
  @include media("<=phone") {
  position: absolute;
  width:330%;
  margin-left:10%;
  margin-top: 1150%;
  margin-bottom: 30%;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
  }



  width: 88%;
  margin-left:10%;
  margin-top: 40%;
  margin-bottom: 30%;
  border: 1px solid #cccccc;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
}


.card4 {
  @include media("<=phone") {
  position: absolute;
  width:330%;
  margin-left:10%;
  margin-top: 1600%;
  margin-bottom: 30%;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
  }



  width: 88%;
  margin-left:160%;
  margin-top: 40%;
  margin-bottom: 30%;
  border: 1px solid #cccccc;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
}


.card5 {
  @include media("<=phone") {
  position: absolute;
  width:330%;
  margin-left:10%;
  margin-top: 2100%;
  margin-bottom: 30%;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
  }



  width: 88%;
  margin-left:10%;
  margin-top: 40%;
  margin-bottom: 30%;
  border: 1px solid #cccccc;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  transition: 0.3s;
}
.featured-image-container .card {
  padding: 10px;
  height: 630px;
  padding-bottom: calc(100% - 10px);
}
h2.heading_large {
  @include media("<=phone") {
  margin-top:10%;
  }
  font-size:1.5em;
}

h2.heading_large p {
  @include media("<=phone") {
    }
  letter-spacing: 5px;
  font-size:0.5em;
}

img {
  max-width: 100%;
}

.header-section {
  margin: 200px auto;
}


/* SCROLLDOWN
=========================== */
.scrolldownLeft {
  @include media("<=phone") {
    display: none;
    }
  position: absolute;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  left: 67%;
  transform: rotate(-90deg);
}

.scrolldownLeft::before {
  content: "";
  border: 1px solid #fff;
  width: 100px;
  margin: 0 20px 0 0;
  transform: translateY(-3px);
  opacity: .5;
  display: inline-block;
}


/* SCROLLDOWN
=========================== */
.scrolldownRight {
  @include media("<=phone") {
  display: none;
  }
  left: -20%;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  transform: rotate(-90deg);
}

.scrolldownRight::before {
  content: "";
  border: 1px solid #fff;
  width: 100px;
  margin: 0 20px 0 0;
  transform: translateY(-3px);
  opacity: .5;
  display: inline-block;
}